@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
    background-color: #000;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: 'Righteous', cursive;
    margin: 0 1.7em 0 1.7em;
    font-size: 2em;
    transform-origin: 0 0;
    text-transform: uppercase;
    color: yellow;
}
#1{
    transform(rotate(270deg));
}
#2{
transform: rotate(180deg)
}