body{
    background-image: url("fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "Police1";
    src: url(./fonts/PISANG\ KEJU.otf);
}

@font-face {
    font-family: "Police2";
    src: url(./fonts/Cinzel-Regular.otf);
}

.ban{
    display: flex;
    background-color: #6c0404;
    width: 100%;
    height: 100px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.txtcache{
    color: white; opacity: 5%; size:20px; position:absolute; text-align: bottom; left : 10px; bottom:10px;
}

*{
   cursor:default; 
}
