.bag{
    background-color: #fff;
    border-bottom: 2px solid #9d3d3d;
}

body{
    background-color: #fff;
}
.btn .btn-dark .color:hover{
    background-color: #9d3d3d;
    color: #fff;
}

footer{
    color: white;
}

.bg-footer{
    background-color: #9d3d3d;
    border-top: 2px solid #9d3d3d;
}

.navbar{
    background-color: #9d3d3d;
    color: white;
}

.cp{
    color: #fff;
}

.btn{
    border: 1px solid #9d3d3d;
}
